.card-margin {
    margin: 0%;
    margin-top: 5px;
}

ion-card-title {
    font-size: 20px;
}

ion-text {
    margin-top: -28px;
}

.flex-content {
    display: flex;
    flex-direction: column;
}

.card-popular {
    border-radius: 50px;
}

:host ::ng-deep {
    .swiper-wrapper {
      align-items: center !important;
      justify-content: center !important;
      margin-top: -25px;
    }
    .card-box {
        box-shadow: none !important;
    }
  
  }
