<ion-card class="card-margin">
  <ion-card-header>
    <ion-card-title>
      Popular Creation
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding margin-size">
    <ion-slides [options]="foodSlideOptions">
      <ion-slide *ngFor="let foods of popLists">
        <div class="flex-content">
          <ion-card class="card-box">
            <img class="card-popular" [src]="foods.imageUrl">
          </ion-card>
          <ion-text class="md-mode">{{ foods.foodName }}</ion-text>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>