<ion-card class="margin-size">
  <ion-breadcrumbs>
    <ion-breadcrumb>
      <ion-icon class="headerIcon" slot="start" name="fast-food-outline"></ion-icon>
      <ion-label>All Restaurants Nearby</ion-label>
    </ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-card-subtitle>Discover unique tastes near you</ion-card-subtitle>
  <ion-card-content>
    <div *ngFor="let list of hotelLists">
      <ion-row>
        <ion-col size="5">
          <ion-card class="card-size">
            <img [src]="list.imageUrl">
          </ion-card>
          <div class="position">
            <div class="text-off">
              {{list.off}}
            </div>
            <div class="text-upto">
              {{list.upto}}
            </div>
          </div>
        </ion-col>
        <ion-col class="flex" size="">
          <div>
            <div class="text-style">
              <ion-text color="dark">{{ list.hotelName }}</ion-text>
            </div>
            <div class="text-align">
              <ion-icon name="star-outline">
              </ion-icon>
              <ion-text>{{list.rating}} . {{list.mins}} . {{list.cash}}</ion-text>
            </div>
            <div class="text-color">
              <ion-text>{{list.dishType}}</ion-text>
            </div>
            <div class="text-color">
              <ion-text>{{list.city}}</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="margin-top">
      <ion-button expand="block">SEE ALL</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="icon-size" size="4">
          <ion-icon name="checkbox-outline"></ion-icon>
          <p>BEST BRANDS</p>
        </ion-col>
        <ion-col class="icon-size" size="4">
          <ion-icon name="checkbox-outline"></ion-icon>
          <p>All Favourites</p>
        </ion-col>
        <ion-col class="icon-size" size="4">
          <ion-icon name="checkbox-outline"></ion-icon>
          <p>GREAT OFFERS</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="background">
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="background-image">
            </ion-col>
            <ion-col size="8">
              <div>
                <div>
                  <ion-text class="text-bolder" color="dark">Anti-Discrimination Policy</ion-text>
                </div>
                <div>
                  <ion-text class="text-adjust">Swiggy treats its community equally with respect and without any bias.</ion-text>
                </div>
                <div>
                    <a [routerLink]="">Know More</a>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-align">
      <img src="../../assets/images/live.png">
    </ion-card>
  </ion-card-content>
</ion-card>

