<!-- <ion-card> -->
<!-- <ion-card-content class="center"> -->
<!-- <div class="flex-pad">
      <div>
        <ion-icon color="warning" class="icon-size" name="thumbs-up-outline"></ion-icon>
      </div>
      <div>
        <ion-text color="dark">
          <h4 class="mar-top">Top Picks For You</h4>
        </ion-text>
      </div>
    </div> -->
<!-- </ion-card-content> -->

<!-- <ion-slides [options]="foodSlideOptions">
    <ion-slide *ngFor="let foods of hotelLists">
      <div class="flex-content">
        <div>
          <ion-card class="card-size">
            <img [src]="foods.imageUrl">
          </ion-card>
        </div>
        <div class="flex-content">
          <div class="align-content">
            <ion-text>{{ foods.hotelName }}</ion-text>
          </div>
          <div class="rateimg">
            <ion-icon name="star-outline">
            </ion-icon>
            <ion-text>{{foods.rating}} . {{foods.mins}}</ion-text>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card> -->

<ion-card class="margin-size">
  <ion-card-header>
    <ion-card-title>
      <div class="flex-pad">
        <div>
          <ion-icon color="warning" class="icon-size" name="thumbs-up-outline"></ion-icon>
        </div>
        <div>
          <ion-text color="dark">
            <h4 class="mar-top">Top Picks For You</h4>
          </ion-text>
        </div>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-slides [options]="foodSlideOptions">
      <ion-slide *ngFor="let foods of hotelLists">
        <div class="flex-content">
          <div>
            <ion-card class="card-size">
              <img [src]="foods.imageUrl">
            </ion-card>
          </div>
          <div class="flex-content">
            <div class="align-content">
              <ion-text>{{ foods.hotelName }}</ion-text>
            </div>
            <div class="rateimg">
              <ion-icon name="star-outline">
              </ion-icon>
              <ion-text>{{foods.rating}} . {{foods.mins}}</ion-text>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>