<ion-card class="card-margin">
  <ion-card-header>
    <ion-card-title>
      <div class="flex-pad">
        <div>
          <ion-icon class="icon-size" name="Storefront-outline"></ion-icon>
        </div>
        <div>
          <ion-text color="dark">
            <h4 class="mar-top">In the spotlight!</h4>
          </ion-text>
        </div>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-subtitle>
    Explore sponsored partner brands
  </ion-card-subtitle>
  <ion-card-content>
    <ion-slides [options]="foodSlideOptions">
      <ion-slide *ngFor="let foods of hotelLists">
        <div class="flex-content">
          <div class="flex-display">
            <ion-card class="card-size">
              <img [src]="foods.imageUrl">
            </ion-card>
            <div class="position">
              <div class="text-off">
                {{foods.off}}
              </div>
              <div class="text-upto">
                {{foods.upto}}
              </div>
            </div>
          </div>
          <div class="flex-content">
            <div class="align-content">
              <ion-text>{{ foods.hotelName }}</ion-text>
            </div>
            <div class="rateimg">
              <ion-icon name="star-outline">
              </ion-icon>
              <ion-text>{{foods.rating}} . {{foods.mins}}</ion-text>
            </div>
          </div>
        </div>
       
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>