
<ion-content>
    <div class="display">
      <div>
        <img src="../../assets/images/cook.webp">
      </div>
      <div class="text-bolder">
        <ion-text>GOOD FOOD IS ALWAYS COOKING</ion-text>
      </div>
      <div class="margin-top">
        <ion-text>Your cart is empty.</ion-text>
      </div>
      <div class="text-color">
        <ion-text>Add something from the menu</ion-text>
      </div>
      <ion-button fill="outline">BROWSE RESTAURANTS</ion-button>
    </div>
   
</ion-content>
